<%- include('partials/header.ejs') %>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<!-- Can also be done with a normal for loop -->
<%# function(post) {} %>
<%# (post) => {} %>
<% posts.forEach(post => { %>
<h1><%= post.title %></h1>
<p><%= post.content.substring(0, 80) + "..." %> <a href="/posts/<%= post.title %>">Read More</a></p>
<% }) %>


<%- include('partials/footer.ejs') %>